<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiftDrawer</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="createEvent">
        <form action="" class="createEvent__form" id="loginFrom">
            <label for="eventName">Nazwa wydarzenia</label>
            <input type="text" id="eventName" autocomplete="off" class="input--basic" required>
            <label for="eventName">Nazwa uczestnika</label>
            <input type="text" id="memberName" autocomplete="off" class="input--basic" required>
            <label for="eventPassword">Hasło dostępu</label>
            <input type="password" autocomplete="off" id="eventPassword" class="input--basic" required>
            <button id="loginBtn" class="btn--form">Zaloguj</button>
        </form>
    </section>
    <script type="module" src="../js/createEvent.js"></script>
</body>
</html>