@use '../abstracts/colors' as colors;
.createEvent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    counter-reset: newMember;
    .createEvent__form{
        transform: translateY(-10%);
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap:1em;
        padding: 1em;
    }
    label{
        float: left;
    }
    .input--basic{
        height: 2em;
    }
    .membersList{
        list-style-type: none;
        display:flex;
        flex-direction: column;
        grid-column: 1/3;
        gap:.5em;
        padding: 0;
        margin: 0;
    }
    #createEventBtn{
        grid-column: 1/3;
        width: 70%;
        margin: auto;
    }
    
    .members__item{
        &::before{
            counter-increment: newMember;
            font-weight: bold;
            content: '#' counter(newMember);
        }
    }
    .memberName{
        @extend .input--basic;
        width: 80%;
    }
    #addMoreBtn{
        grid-column: 2/3;
    }
}